# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*.bpf.o
/tools/bashreadline/bashreadline
/tools/bindsnoop/bindsnoop
/tools/biolatency/biolatency
/tools/biopattern/biopattern
/tools/biosnoop/biosnoop
/tools/biostacks/biostacks
/tools/biotop/biotop
/tools/bitesize/bitesize
/tools/cachestat/cachestat
/tools/capable/capable
/tools/cpudist/cpudist
/tools/cpufreq/cpufreq
/tools/drsnoop/drsnoop
/tools/execsnoop/execsnoop
/tools/exitsnoop/exitsnoop
/tools/filelife/filelife
/tools/filetop/filetop
/tools/fsdist/fsdist
/tools/fsslower/fsslower
/tools/funclatency/funclatency
/tools/gethostlatency/gethostlatency
/tools/hardirqs/hardirqs
/tools/javagc/javagc
/tools/klockstat/klockstat
/tools/ksnoop/ksnoop
/tools/llcstat/llcstat
/tools/mdflush/mdflush
/tools/mountsnoop/mountsnoop
/tools/numamove/numamove
/tools/offcputime/offcputime
/tools/oomkill/oomkill
/tools/opensnoop/opensnoop
/tools/readahead/readahead
/tools/runqlat/runqlat
/tools/runqlen/runqlen
/tools/runqslower/runqslower
/tools/sigsnoop/sigsnoop
/tools/slabratetop/slabratetop
/tools/softirqs/softirqs
/tools/solisten/solisten
/tools/statsnoop/statsnoop
/tools/syscount/syscount
/tools/tcpconnect/tcpconnect
/tools/tcpconnlat/tcpconnlat
/tools/tcplife/tcplife
/tools/tcprtt/tcprtt
/tools/tcpstates/tcpstates
/tools/tcpsynbl/tcpsynbl
/tools/tcptop/tcptop
/tools/tcptracer/tcptracer
/tools/vfsstat/vfsstat
/tools/wakeuptime/wakeuptime
